
.card-highlight {
    min-height : 100%;
}

.course-Card {
    margin : 0.8rem;
    padding : 0.2rem;
}

.course-Button {
    margin: 15px 32px;
    width: 200px;
}

.login__Page {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 200px;
    position: relative;
    border: 3px solid green; 
}